
@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Movies</h2>

@if (!Model.Any())
{

    <p>We dont have any movies yet</p>

}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
       
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)</td>
                    <td>@movie.Genre.Name</td>
                    <td>@Html.ActionLink("Edit","Edit","Movies", new { id = movie.Id},null)</td>
                    <td>@Html.ActionLink("New","New","Movies", new { id = 0 }, null)</td>
                </tr>
 
            }
        </tbody>
    </table>
    
}
