@*@model Vidly.ViewModels.CustomerListViewModel*@

@* He changed this to IEnumerable of customers instead*@
@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Customers</h2>

<table id="customers" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Discount</th>
                    <th>Membership Type Name</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
</table>

@section scripts
{
    <script>
        //This is the standard JQuery to specify JQuery code
        $(document).ready(function () {
            $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""

                },
                columns: [
                    {
                        //First column
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/details/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        //Second column

                        data: "membershipType.discountRate"
                    },
                    {
                        //Third column

                        data: "membershipType.name"
                    },
                    {
                        //Create column
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/new" + "'>New" + "</a>";
                        }
                    },
                    {
                        //Edit column
                        data: "name",
                        render: function (data, type, customer) {
                            // Previous return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                            return "<a href='/customers/edit/" + customer.id + "'>Edit" + "</a>";
                        }
                    },
                    {
                        //Delete Column
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]


            });

            // Now this will replace the line above, the translation is get the customer table and on click only for hte one that match the "js-delete" elment do something
            $("#customers").on("click", ".js-delete", function () {

                // With this variable we have a reference of the actual button that was clicked
                var button = $(this);

                //Confirmation screen using bootbox
                bootbox.confirm("Are you sure you want to deletethis customer?", function(result) {

                    if (result) {

                        //call our API using JQuery Ajax and we pass an object
                        $.ajax({
                            //we set the URL of our API
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                    @* if the API return sucess then we remove the element from  HTML using the below code *@
                        success: function () {
                            button.parents("tr").remove();
                        }

                    })
                  
                    }

                });

                //Regular confirmation 
                //if (confirm(" Are you sure to delete this file?")) {
                //};

            });
        });

    </script>

}
