
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Rental Form</h2>

<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" data-rule-validCustomer="true"  required  type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input  id="movie" name="movie" type="text" data-rule-atLeastOneMovie="true"   value="" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="movies" class="list-group"></ul>
        </div>
   </div>

    <button class="btn btn-primary">Submit</button>
</form>

@section scripts {
    
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {
            var vm = {
                 customerID: 0,
                 movieIDs: [],
            };

            

            var customers = new Bloodhound({
                //datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'), Changed from value to name 
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                //prefetch: '../data/films/post_1960.json',
                remote: {
                    //url: '../data/films/queries/%QUERY.json',
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            //$('#remote .typeahead').typeahead(null, {
            $('#customer').typeahead({
                minLength: 3,
                highlight: true

            }, {
                    limit: 10,
                    name: 'customers',
                    display: 'name',
                    source: customers
                }).on("typeahead:select", function (e, customer) {

                    vm.customerID = customer.id;
                });



            var movies = new Bloodhound({
                //datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'), Changed from value to name 
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                //prefetch: '../data/films/post_1960.json',
                remote: {
                    //url: '../data/films/queries/%QUERY.json',
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });
            

            $('#movie').typeahead({
                minLength: 3,
                highlight: true
            }, {
                    limit: 10,
                    name: 'movies',
                    display: 'name',
                    source: movies
                }).on("typeahead:select", function (e, movie) {

                    $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");

                    $("#movie").typeahead("val", "");

                    vm.movieIDs.push(movie.id);

                });


            $.validator.addMethod("validCustomer", function () {
                return vm.customerID && vm.customerID !== 0;

            },"Please select a valid customer");


            $.validator.addMethod("atLeastOneMovie", function () {
                return vm.movieIDs.length > 0;
                //return vm.movieIDs[0] && vm.movieIDs[] !== 0;
            }, "Please select at least one movie.");



            var validator =  $("#newRental").validate({

                submitHandler: function () {
                    //With this the form wil be validated if is validated will execute the below code which will be summiting the form
                    //No using the prevent default now this works by returning a false at end of the fuction
                    //.preventDefault(); // this will prevent the form to summit normally if you do not do that it will not use Ajax

                    $.ajax({
                        url: "/api/NewRentals",
                        method: "post",
                        data: vm

                    })
                        .done(function () {
                            //here we put when sucess 
                            toastr.success("Rentals successfully recorded.");
                            console.log("Sucess");

                            //This section will clear the variables as well as the form
                            $("#customer").typeahead("val", "");
                            $("#movie").typeahead("val", "");
                            $("#movies").empty();
                            vm = { movieIDs: [] };
                            validator.resetForm();



                        }).fail(function () {
                            //here we put when something going wrong
                            toastr.error("Something unexpected happened");
                            console.log("fail");
                        });

                    return false;
                }

            });


            //This was the previous code to summit the form without validations
            //$("#newRental").submit(function (e) {

            //    e.preventDefault(); // this will prevent the form to summit normally if you do not do that it will not use Ajax

            //    $.ajax({
            //        url: "/api/NewRentals",
            //        method: "post",
            //        data: vm

            //    })
            //        .done(function () {
            //            //here we put when sucess 
            //            toastr.success("Rentals successfully recorded.");
            //            console.log("Sucess");

            //        }).fail(function () {
            //            //here we put when something going wrong
            //            toastr.error("Something unexpected happened");
            //            console.log("fail");
            //        });


            //});



        });
    </script>
 }